footer {
  font-size: 14px;
  font-weight: 100;
  text-align: center;
}
footer a {
  color: #fc6476;
  font-weight: 700;
  text-decoration: none;
}
hr {
  border-color: rgba(255, 176, 123, 60%);
  border-width: 1px;
  border-style: solid;
}
