.search-input,
.search-button {
  border-radius: 5px;
  border-style: none;
  font-family: "Roboto Flex", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0px;
  padding: 15px;
}
.search-input {
  background-color: rgba(255, 193, 201, 40%);
  color: #918a84;
  width: 75%;
}
.search-button {
  background-color: #ffb07b;
  color: white;
  margin-left: 5px;
  padding: 15px 30px;
}
.CurrentWeather {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
  text-align: start;
}
.CurrentWeather h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 10px;
  margin-top: 25px;
}
.CurrentWeather p {
  color: #918a84;
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
}
.CurrentWeather a,
.CurrentWeather strong,
.forecast-temperature {
  color: #fc6476;
  text-decoration: none;
}
.CurrentWeather strong {
  font-weight: 600;
}
.CurrentWeather .current-temperature {
  font-size: 100px;
  font-weight: 600;
}
.CurrentWeather .emoji {
  position: relative;
  bottom: -17px;
}
.CurrentWeather .unit {
  position: relative;
  top: -50px;
  font-size: 28px;
  font-weight: 300;
}
.Forecast {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
